* {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: arial, helvetic, sans-serif;

}

/* Página de Login */
#imagemlogin {
    position: absolute;
    top: 30px;
    right: 60px;
}

#keyslogin {
    position: absolute;
    bottom: 35px;
    right: 240px;
    z-index: 999;
}

#formlogin {
    position: absolute;
    bottom: 60px;
    right: 60px;
    left: 0;
    background-color: #e5e5e5;
    display: block;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 10px;
}

/* classes */
.bordaImagem {
    border: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:focus {
    outline: none;
}

.estiloSpan {
    COLOR: red;
    font-size: 14px;
}

#topo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: #F7F6F5;
}

#menuPop {
    position: absolute;
    border: 1px solid #61cded;
    top: 63px;
    right: 25px;
    height: 30px;
    width: 150px;
    background-color: white;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 2px
}

#menuPop a:hover {
    background-color: #e5e5e5;
}

#menu {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    height: 30px;
    background-color: #F7F6F5;
}

#iniciarMenu {
    border: 1px solid gray;
    background-color: white;
    margin-top: 4px;
    margin-left: 9px;
    padding: 3px 10px 6px 20px;
    width: 68px;
    height: 12px;
    display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 13px;
    cursor: pointer;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.15);
}

#iniciarMenu #iconeMenu {
    margin-left: -14px;
    display: inline-block;
    float: left;
}

#barraMenu {
    display: block;
    background-color: #F7F6F5;
    position: absolute;
    top: 110px;
    width: 200px;
    bottom: 0;
    left: 0;
    padding-top: 5px;
    padding-left: 5px;
}


#dadosLogin {
    background-image: -moz-linear-gradient(rgba(255, 255, 255, .3),
    rgba(255, 255, 255, 0) );
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, .3),
    rgba(255, 255, 255, 0) );
    background-image: -o-linear-gradient(rgba(255, 255, 255, .3),
    rgba(255, 255, 255, 0) );
    background-image: -ms-linear-gradient(rgba(255, 255, 255, .3),
    rgba(255, 255, 255, 0) );
    background-image: linear-gradient(rgba(255, 255, 255, .3),
    rgba(255, 255, 255, 0) );
    position: absolute;
    right: 20px;
    top: 14px;
    width: 200px;
    padding: 4px;
    background-color: #61c0e0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 2px 0 rgba(0, 0, 0, .3);
}


.espacoBranco {
    height: 10px;
}

input[type=submit] {
    margin: 1px 2px 1px 2px;
    padding-right: 5px;
    padding-left: 5px;
}

#corpo {
    bottom: 2px;
    right: 2px;
    left: 2px;
    top: 112px;
    position: absolute;
    padding: 8px;
}

.idCadastro {
    width: 115px;
}

.inputName {
    width: 500px;
}